In [54]:
## Q No. 1:

import pandas as pd
df= pd.DataFrame({"study_time":[2,3,4,5,6],
                  "exam_score": [50,60,67,69,72]
                  
                 })

In [55]:
df.corr(method="pearson")

            study_time  exam_score
study_time    1.000000    0.953139
exam_score    0.953139    1.000000

In [56]:
## Q No. 2:

import pandas as pd
df= pd.DataFrame({"sleep_amount":[4,3,5,6,7],
                  "exam_score": [5,5,6,7,8]
                  
                 })

In [57]:
df.corr(method="spearman")

              sleep_amount  exam_score
sleep_amount      1.000000    0.974679
exam_score        0.974679    1.000000

In [58]:
## Q NO. 3 :

import pandas as pd
df= pd.DataFrame({"number_of_hours_exercise":[10,11,14,15,16,12,13,12,15,18,10,11,14,15,16,12,13,12,15,18,10,11,14,15,16,12,13,12,15,18,
                                             10,11,14,15,16,12,13,12,15,18,10,11,14,15,16,12,13,12,15,18],
                  "BMI": [50,60,67,69,72,80,76,66,59,64,50,60,67,69,72,80,76,66,59,64,50,60,67,69,72,80,76,66,59,64,
                          50,60,67,69,72,80,76,66,59,64,50,60,67,69,72,80,76,66,59,64]
                  
                 })

In [59]:
df1=df.corr(method="pearson")
df1

                          number_of_hours_exercise       BMI
number_of_hours_exercise                  1.000000  0.233962
BMI                                       0.233962  1.000000

In [60]:
df2=df.corr(method="spearman")
df2

                          number_of_hours_exercise       BMI
number_of_hours_exercise                  1.000000  0.213419
BMI                                       0.213419  1.000000

In [61]:
pd.concat([df1,df2])

                          number_of_hours_exercise       BMI
number_of_hours_exercise                  1.000000  0.233962
BMI                                       0.233962  1.000000
number_of_hours_exercise                  1.000000  0.213419
BMI                                       0.213419  1.000000

In [62]:
## Q No. 4 :


import pandas as pd
df= pd.DataFrame({"number_of_hrs_watching_tv":[1,2,4,5,6,2,3,2,5,8,1,1,4,5,6,2,3,2,5,
                            8,0,1,4,5,6,2,3,2,5,8,0,1,4,5,6,2,3,2,5,8,0,1,4,1,1,1,3,2,5,7],
                  "physical_activity": [5,6,6,6,2,8,7,6,5,6,5,6,7,9,2,4,6,6,9,4,5,6,6,9,2,5,6,6,9,4,
                          5,6,6,6,7,8,7,6,5,6,5,6,6,9,2,9,6,6,5,6]
                  
                 })

In [63]:
df.corr(method="pearson")

                           number_of_hrs_watching_tv  physical_activity
number_of_hrs_watching_tv                   1.000000          -0.121176
physical_activity                          -0.121176           1.000000

In [79]:
## Q NO. 5 :

import pandas as pd
df=pd.DataFrame({"Age(Years)" :[25,42,37,19,31,28],
             "Soft drink Preference" :["Coke","Pepsi","Mountain dew","Coke","Pepsi","Coke"]

             })

In [80]:
df.cov()

/tmp/ipykernel_98/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

            Age(Years)
Age(Years)   68.666667

In [77]:
## Q No. 6 :

import pandas as pd
df= pd.DataFrame({"number_of_ sale_calls_per_day":[1,2,4,5,6,2,3,2,5,8,1,1,4,5,6,2,3,2,5,
                            8,0,1,4,5,3,4,5,6,7,8],
                  "number_of_sales_per_week": [5,6,6,6,2,8,7,6,5,6,5,6,7,9,2,4,6,6,9,4,5,6,6,9,2,5,6,6,9,4]
                  
                 })

In [78]:
df.corr(method="pearson")

,number_of_ sale_calls_per_day,number_of_sales_per_week
number_of_ sale_calls_per_day,1.000000,-0.019629
number_of_sales_per_week,-0.019629,1.000000